/* ==============================================================
 *
 * Press
 *
 * ============================================================== */

.featured-press-articles{
    margin-top: 40px;
    margin-bottom: 60px;
}
.featuredpress{
    @include gt-tablet{
        display:flex;
    }
}
.featuredpress__text,
.featuredpress__image {

    @include gt-tablet{
        flex: 0 0 50%;
        width: 50%;
    }
}
.featuredpress__text {
    
    @include gt-tablet{
        padding-right: 20px;
    }
    
    .entry-title {
        margin: 40px 0 20px;
    }
}
.featuredpress__image{
    margin-top: 20px;

    @include gt-tablet{
        padding-left: 20px;
        margin-top: 0;
    }
}

.press-slider__content{
    margin-top: 30px;
}

#featuredpubs {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.featuredpubs {
    border-top: 2px solid $offwhite;
    width: 100%;
    margin-bottom: 40px;
}
.featuredpubs__publications{
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    overflow: auto;
    padding-bottom: 20px;
}
.featuredpubs__publications--middle{
    align-items: center;
}
.featuredpubs__publications--stackable{
    margin-left: -20px;
    margin-right: -20px;
    flex-wrap: wrap;

    .featuredpubs__publication{
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 220px;

        @include lt-mobile{
            flex: 0 0 50%;
            width: 50%;
            text-align: center;
        }
    }
}
.featuredpubs__publication{
    flex: 0 0 auto;
    max-width: 280px;
    padding-left: 20px;
    padding-right: 20px;

    img{
        width: auto;
        max-height: 44px;
        max-width: 100%;
    }

    .footer__featuredpubs & img{
        max-height: 32px;
    }
}
.footer__featuredpubs .publication--travel-leisure-worlds-best-award img{
    max-height: 80px;
}

.footer__featuredpubs .featuredpubs__publication{
    opacity: .4;
}
.footer__featuredpubs .featuredpubs__publication--blend{
    mix-blend-mode: multiply;
    opacity: 1;
}

.featuredpubs__viewarticles{
    @include type-bold;
    @include ux-underline;
    color: $brand_primary;
    margin-top: 8px;
    font-size: $fz_small;
}
.featuredpubs__header{
    color: $type_gray;
    margin-top: 20px;
    margin-bottom: 20px;
}


.loadmore--press-article{
    display: none;
}

.pressblock__image {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.pressblock__image--margin{
    margin-bottom: 20px;
}

.pressblock__placeholder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $offwhite;
}

.pressblock__logo {
    margin: 26px 0;
    max-width: 220px;
    height: 32px;

    .featuredpress__text &{
        margin-top: 0;
    }

    img{
        max-height: 32px;
        max-width: 100%;
    }
}
.pressblock__logo--departures{
    max-width: 160px;
}
.pressblock__logo--luxury-magazine{
    max-width: 140px;
}
