/* ==============================================================
 *
 * Forms
 *
 * ============================================================== */


button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

textarea {
    border: 1px solid #bbb;
}

.hs-input {
    width: 100%!important;
}


select{
    appearance: none;
    -webkit-appearance: none;
    padding: 8.5px 4px;
    position: relative;
    padding-right: 30px;
    border: 1px solid #bbb;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: $white;
    background-image:  $icon_chevron_down__gray;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;

    &:focus{
        outline:none;
    }
}


input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
.chosen-single,
.chosen-date .chosen-date-placeholder{
    display: inline-block;
    padding: 14px 8px;
    font-size: $fz_small;
    border: 1px solid $brand_gray;
    line-height: 1;
    color: $type_gray;

    &:focus{
        outline:none;
    }
}

// input[type="search"] {
//     -webkit-appearance: textfield;
// }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}



input[type="checkbox"],
input[type="radio"]{
    display: none;

    + label,
    + span{
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding-left: 32px;

        @include lt-mobile{
            display: block;
        }

        &:before{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 1.5em;
            height: 1.5em;
            margin-top: -.75em;
            border: 1px solid $brand_gray;
            background-repeat:no-repeat;
            background-position:center center;
            background-size: 80%;

            .checkmark--white &{
                border-color: $white;
            }

            .checkmark--small &{
                width: 18px;
                height: 18px;
                margin-top: -9px;
            }
            
        }

        .checkmark--small &{
            font-size: $fz_small;
            padding-left: 26px;
        }
    }
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:checked + span:before{
    background-image: $icon_checkmark;

    .checkmark--white &{
        background-image: $icon_checkmark__white;
    }
}


input[type="radio"]{
    + label:before{
        width: 1.6em;
        height: 1.6em;
        border-radius: 50%;
        background-size: 60%;
        margin-top: -.8em;
    }

    &:checked + label:before{
        background-image: $icon_circle;
    }
}

.basiclink__input{
    font-size: $fz_small;

    input + label{
        color: $brand_primary;
        padding-left: 0;
        &:before{
            display: none;
        }

        @include ux-underline;
    }

    input:checked + label:after{
        opacity: 1;
        transform: translateX(0%);
    }
}


.d-searchinput {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    cursor: text;
    position: relative;

    input[type="search"]{
        padding-right: 36px;
        width: 100%;
    }
}

.searchinput__submit{
    @include icon( $icon_magnifying_glass, 20px, 20px );
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    background-color: transparent;
    border: none;
}


/* ------------------------------------------
 * --hubspot
 * ------------------------------------------ */

.hbspt-form .hs-form {
    fieldset{
        margin-bottom: 20px;
        max-width: 620px;

        .input .hs-input{
            display: block;
            width: 100%;

            &[type="checkbox"]{
                display: none;
            }
        }

        .hs-form-field label{
            display: block;
            font-size: $fz_small;
            margin-bottom: 4px;
        }

        &.form-columns-3 .hs-form-field{
            width: 33.3333%;
        }
    }

    .inputs-list{
        padding: 0;
        margin: 0;

        li:before{
            display: none;
        }
    }

    .hs-error-msgs{
        margin-top: 8px;
        color: $brand_error;

        label{
            font-size: $fz_small;
        }
    }

    .hs_submit {
        margin-top: 40px;

        input[type="submit"]{
            @extend .cta;
        }
        @media ( max-width: 992px ){
          margin-top: 20px;
        }
    }
    @media ( max-width: 992px ){
      text-align: center;
    }
}