/* ==============================================================
 *
 * ICONS
 *  - sass variables for svg icons
 *
 * ============================================================== */


@mixin icon-right( $svg, $width, $height, $margin: 10px, $fromRight: 0 ){
    position: relative;
    padding-right: #{$width + $margin};

    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: $fromRight;
        width: $width;
        height: $height;
        margin-top: #{($height / -2) - 2};
        background-image: $svg;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: contain;
    }
}

@mixin icon-left( $svg, $width, $height, $margin: 10px ){
    position: relative;
    padding-left: #{$width + $margin};

    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: $width;
        height: $height;
        margin-top: #{($height / -2) - 2};
        background-image: $svg;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: contain;
    }
}


@mixin icon( $svg, $width, $height ){
    display: inline-block;
    vertical-align: middle;
    width: $width;
    height: $height;
    background-image: $svg;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
    text-indent: -9999px;
}

// url('data:image/svg+xml;charset=utf-8,svg');

$icon_chevron_down: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2015%22%3E%3Ctitle%3Echevron-down%3C%2Ftitle%3E%3Cpath%20d%3D%22M21%200l3%203.06L12%2015%200%203.06%203%200l9%209z%22%20fill%3D%22%23007290%22%2F%3E%3C%2Fsvg%3E');
$icon_chevron_down__gray: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2015%22%3E%3Ctitle%3Echevron-down%3C%2Ftitle%3E%3Cpath%20d%3D%22M21%200l3%203.06L12%2015%200%203.06%203%200l9%209z%22%20fill%3D%22%23999%22%2F%3E%3C%2Fsvg%3E');
$icon_chevron_down__white: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2015%22%3E%3Ctitle%3Echevron-down%3C%2Ftitle%3E%3Cpath%20d%3D%22M21%200l3%203.06L12%2015%200%203.06%203%200l9%209z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
$icon_chevron_left: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2024%22%3E%3Ctitle%3Echevron-left%3C%2Ftitle%3E%3Cpath%20d%3D%22M6%2012l9%209-3.06%203L0%2012%2011.94%200%2015%203z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
$icon_chevron_right: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2024%22%3E%3Ctitle%3Echevron-right%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%203l3.06-3L15%2012%203.06%2024%200%2021l9-9z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
$icon_chevron_right__blue: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2024%22%3E%3Ctitle%3Echevron-right%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%203l3.06-3L15%2012%203.06%2024%200%2021l9-9z%22%20fill%3D%22%23007290%22%2F%3E%3C%2Fsvg%3E');
$icon_plus: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Eplus%3C%2Ftitle%3E%3Cpath%20d%3D%22M24%2010H14V0h-4v10H0v4h10v10h4V14h10z%22%20fill%3D%22%23007290%22%2F%3E%3C%2Fsvg%3E');
$icon_checkmark: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Ctitle%3Echeckmark%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23007290%22%20d%3D%22M27%204L12%2019l-7-7-5%205%2012%2012L32%209z%22%2F%3E%3C%2Fsvg%3E');
$icon_checkmark__white: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Ctitle%3Echeckmark%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M27%204L12%2019l-7-7-5%205%2012%2012L32%209z%22%2F%3E%3C%2Fsvg%3E');
$icon_circle: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.75%2016.75%22%3E%3Ctitle%3Ecircle%3C%2Ftitle%3E%3Ccircle%20cx%3D%228.38%22%20cy%3D%228.38%22%20r%3D%228.38%22%20fill%3D%22%23007290%22%2F%3E%3C%2Fsvg%3E');
$icon_close: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.29%2013.29%22%3E%3Ctitle%3Eclose%3C%2Ftitle%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23999%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%222%22%20d%3D%22M.35%2012.94L12.94.35M.35.35l12.59%2012.59%22%2F%3E%3C%2Fsvg%3E');
$icon_close_white: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.29%2013.29%22%3E%3Ctitle%3Eclose%3C%2Ftitle%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%222%22%20d%3D%22M.35%2012.94L12.94.35M.35.35l12.59%2012.59%22%2F%3E%3C%2Fsvg%3E');
$icon_magnifying_glass: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2023.8%2023.9%22%3E%3Ctitle%3Emagnifying-glass%3C%2Ftitle%3E%3Cpath%20d%3D%22M23.8%2021.6l-6.2-6.2a9.52%209.52%200%200%200%201.9-5.7%209.82%209.82%200%201%200-4.3%208l6.2%206.2a26.08%2026.08%200%200%200%202.4-2.3zM2.9%209.7a6.9%206.9%200%201%201%206.9%206.9%206.91%206.91%200%200%201-6.9-6.9z%22%20fill%3D%22%23999%22%2F%3E%3C%2Fsvg%3E');
$icon_magnifying_glass_white: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2023.8%2023.9%22%3E%3Ctitle%3Emagnifying-glass%3C%2Ftitle%3E%3Cpath%20d%3D%22M23.8%2021.6l-6.2-6.2a9.52%209.52%200%200%200%201.9-5.7%209.82%209.82%200%201%200-4.3%208l6.2%206.2a26.08%2026.08%200%200%200%202.4-2.3zM2.9%209.7a6.9%206.9%200%201%201%206.9%206.9%206.91%206.91%200%200%201-6.9-6.9z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
$icon_calendar: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2028%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M2%2026h4.5v-4.5H2V26zm5.5%200h5v-4.5h-5V26zM2%2020.5h4.5v-5H2v5zm5.5%200h5v-5h-5v5zm-5.5-6h4.5V10H2v4.5zM13.5%2026h5v-4.5h-5V26zm-6-11.5h5V10h-5v4.5zm12%2011.5H24v-4.5h-4.5V26zm-6-5.5h5v-5h-5v5zM8%207V2.5c0-.266-.234-.5-.5-.5h-1c-.266%200-.5.234-.5.5V7c0%20.266.234.5.5.5h1c.266%200%20.5-.234.5-.5zm11.5%2013.5H24v-5h-4.5v5zm-6-6h5V10h-5v4.5zm6%200H24V10h-4.5v4.5zM20%207V2.5c0-.266-.234-.5-.5-.5h-1c-.266%200-.5.234-.5.5V7c0%20.266.234.5.5.5h1c.266%200%20.5-.234.5-.5zm6-1v20c0%201.094-.906%202-2%202H2c-1.094%200-2-.906-2-2V6c0-1.094.906-2%202-2h2V2.5C4%201.125%205.125%200%206.5%200h1C8.875%200%2010%201.125%2010%202.5V4h6V2.5C16%201.125%2017.125%200%2018.5%200h1C20.875%200%2022%201.125%2022%202.5V4h2c1.094%200%202%20.906%202%202z%22%2F%3E%3C%2Fsvg%3E');
$icon_location: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2024%22%3E%3Ctitle%3Elocation%3C%2Ftitle%3E%3Cpath%20d%3D%22M8%200C3.8%200%200%203.4%200%207.6S3.5%2016.8%208%2024c4.5-7.2%208-12.2%208-16.4S12.2%200%208%200zm0%2011a3%203%200%200%201-3-3%203%203%200%200%201%203-3%203%203%200%200%201%203%203%203%203%200%200%201-3%203z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
$icon_filter: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Efilter_list%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23007290%22%20d%3D%22M6%2012.984v-1.969h12v1.969H6zM3%206h18v2.016H3V6zm6.984%2012v-2.016h4.031V18H9.984z%22%2F%3E%3C%2Fsvg%3E');
$icon_instagram: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Esocial--instagram%3C%2Ftitle%3E%3Cpath%20d%3D%22M12%202.16c3.2%200%203.58%200%204.85.07%203.25.15%204.77%201.69%204.92%204.92.06%201.27.07%201.65.07%204.85s0%203.58-.07%204.85c-.15%203.23-1.66%204.77-4.92%204.92-1.27.06-1.64.07-4.85.07s-3.58%200-4.85-.07c-3.26-.15-4.77-1.7-4.92-4.92-.06-1.27-.07-1.64-.07-4.85s0-3.58.07-4.85c.15-3.23%201.67-4.77%204.92-4.92%201.27-.05%201.65-.07%204.85-.07zM12%200C8.74%200%208.33%200%207.05.07c-4.36.2-6.78%202.62-7%207C0%208.33%200%208.74%200%2012s0%203.67.07%204.95c.2%204.36%202.62%206.78%207%207C8.33%2024%208.74%2024%2012%2024s3.67%200%204.95-.07c4.35-.2%206.78-2.62%207-7C24%2015.67%2024%2015.26%2024%2012s0-3.67-.07-4.95c-.2-4.35-2.62-6.78-7-7C15.67%200%2015.26%200%2012%200zm0%205.84A6.16%206.16%200%201%200%2018.16%2012%206.16%206.16%200%200%200%2012%205.84zM12%2016a4%204%200%201%201%204-4%204%204%200%200%201-4%204zm6.41-11.85a1.44%201.44%200%201%200%201.44%201.44%201.44%201.44%200%200%200-1.44-1.44z%22%2F%3E%3C%2Fsvg%3E');
