/* ==============================================================
 *
 * Layout
 *  - utility layout styles (prefixed with "l-")
 *
 * ============================================================== */

$width_limiter: 1060px;

html.html-prevent-scroll{
    height: 100%;
    overflow: hidden;
}

#page.html-prevent-scroll {
    position: fixed;
}

@mixin blockpad{
    padding-top: 55px;
    padding-bottom: 55px;
}

@mixin hero{
    overflow: hidden;
    max-height: 65vh;
    position: relative;
    z-index: 2;
    background-color: $offwhite;

    @include lt-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img, svg{
        width: 100%;
        display: block;

        @include lt-mobile{
            height: 240px;
            width: auto;
            max-width: none;
        }
    }
}
@mixin bighero{
    overflow: hidden;
    max-height: calc(100vh - #{$navheight});
    position: relative;
    z-index: 2;
    background-color: $offwhite;

    img, svg{
        width: 100%;
        display: block;
    }
}



.l-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1460px;
    padding-left: 20px;
    padding-right: 20px;
}
.l-container--small{
    max-width: $width_limiter;
}
.l-container--mobilefull{
    @include lt-tablet{
        padding-left: 0;
        padding-right: 0;
    }
}

.l-inner-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
}

.site-content{
    overflow:hidden;
    padding-top: $navheight;
}
.content-area{
    padding-bottom: 80px;

    .single-tour &,
    .single-post &{
        padding-bottom: 0;
    }
}



/* ------------------------------------------
 * --columns
 * ------------------------------------------ */

$gutter: 40px;
$gutter_half: $gutter / 2;
$gutter_offset: $gutter_half * -1;

.d-column-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: $gutter_offset;
    margin-right: $gutter_offset
}
.d-column-container--nogutter{
    margin-left: 0;
    margin-right: 0;
}

.d-column-container--cells{
    @include gt-tablet{
        margin-left: -30px;
        margin-right: -30px;
    }
}

.d-col{
    padding-left: $gutter_half;
    padding-right: $gutter_half;
}
.d-flex-col{
    display: flex;
    flex-wrap: wrap;
}

.d-col--1-2{
    width: 100%;

    @include gt-mobile{
        width: 50%;
        flex: 1 1 50%;
    }
    
}

.d-col--1-3{
    width: 100%;

    @include gt-tablet{
        width: 33.3333333%;
        flex: 1 1 33.3333333%;
    }
}

.d-col--2-3{
    width: 100%;

    @include gt-tablet{
        width: 66.6666666%;
        flex: 1 1 66.6666666%;
    }
}

.d-col--1-4{
    width: 100%;
    
    @include gt-mobile{
        width: 50%;
        flex: 1 1 50%;
    }

    @include gt-tablet{
        width: 25%;
        flex: 1 1 25%;
    }
}


.d-col--flex{
    flex: 1 1 auto;
}




/**
 * --grids
 */

.cellblock{
    margin-top: 40px;
    margin-bottom: 40px;
    flex-grow: 0;

    @include gt-tablet{
        padding-left: 30px;
        padding-right: 30px;
    }
}




/* ------------------------------------------
 * --alignment
 * ------------------------------------------ */

.l-alignright{
    text-align: right;
}
.l-aligncenter{
    text-align: center;
}
