/* ==============================================================
 *
 * 404 page
 *
 * ============================================================== */

.content-area--404{
    background-image: url(../../img/aidan-meyer-133702.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    min-height: 75vh;
}

.page404__content{
    @include type-secondary;
    padding-top: 40px;
    font-size: $fz_blockheader;
    line-height: $line_height_header;
}

.page404__searchform{
    margin-top: 40px;

    .search-form input[type="search"]{
        color: $black;
        border-color: $black;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba($black, .6);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba($black, .6);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba($black, .6);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba($black, .6);
    }
}