/* ==============================================================
 *
 * Footer - Newsletter Signup form
 *
 * ============================================================== */

.footer-newsletter {
    background: $brand_secondary;
    padding: 26px 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.footer-newsletter__form {
    display: inline-block;
    margin: 20px auto 0;
    text-align: left;

    form {
      div {
        &[data-reactid] {
          display: inline-block;
          @include lt-tablet {
            display: block;
          }
        }
      }
    }
    
    .hs-form-field {
        margin: 10px 20px;
        padding-bottom: 20px;
        position: relative;
        
        @include gt-tablet {
            display: inline-block;
            vertical-align: top;
        }

        .hs-form-required{
            display: none;
        }

        > label{
            display: block;
            margin-top: 8px;
            @extend .capsheader;
        }
    }
    .hs_submit{
        display: block;
        vertical-align: top;
        margin-top: 20px;
        text-align: center;
    }

    .hs-input {
        font-size: $fz_emphasis;
        line-height: 1;
        background: transparent;
        padding: 0 0 8px;
        margin: 0;
        border: none;
        border-bottom: 2px solid $black;
        border-radius: 0;
        width: 240px;
        color: $text_color;

        &:focus{
            outline: none;
        }

        &.error {
            border-bottom-color: $brand_error;
        }

        &::placeholder{
            color: rgba( $text_color, .2 );
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba( $text_color, .2 );
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba( $text_color, .2 );
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba( $text_color, .2 );
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba( $text_color, .2 );
        }
    }
    .hs-button {
        @extend .cta;
        -webkit-appearance:none;
        appearance:none;
        display: inline-block;
        margin-left: 20px;
        border-radius: 0;
        &:hover {
            background-color: $black;
            color: $white;
            border-color: $black;
        }
    }

    .hs-error-msgs{
        position: absolute;
        margin: 0;
        list-style: none;
        top: 68px;
        left: 0;
        color: $brand_error;
        font-size: $fz_small;
        line-height: 1.4;
    }
}

.newslettermodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 180px;
    background-color: #1e1e1e;
    background-color: rgba(30, 30, 30, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    .newsletter-modal-container {
        max-width: 825px;
        margin: 0 auto;
        background-color: #ffffff;
        background-color: rgba(256, 256, 256, 0.9);
        padding-left: 0;
        text-align: center;
        .newsletter-img {
            padding: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @include lt-tablet {
                display: none;
            }
        }
        .newsletter-content {
            position: relative;
            padding-top: 30px;
            padding-bottom: 25px;
            h3 {
                font-size: 2em;
            }
            h4 {
                text-transform: uppercase;
                font-size: 0.875em;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                &:after {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    content: "\d7";
                    font-size: 40px;
                    color: $brand_gray;
                    line-height: 40px;
                }
            }
        }
        .footer-newsletter__form {
            text-align: center;
            width: 80%;
            form div[data-reactid] {
                display: block;
            }
            .hs-form-field {
                margin: 0 20px;
                padding-bottom: 0;
            }
        }
    }
}
.newslettermodal--active {
    opacity: 1;
    visibility: visible;
}
