/* ==============================================================
 *
 * Footer
 *
 * ============================================================== */


.site-footer{
    background-color: $black;
    color: $white;
    padding-top: 80px;
    overflow: hidden;

    .d-column-container{
        @include lt-mobile{
            display: block;
        }
    }
}

.footer__lightband{
    background-color: $offblack;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.d-col--footer-col{
    padding-bottom: 40px;
    padding-right: 40px;
    
    @include gt-mobile{
        flex: 1 1 240px;
    }
    

    &:last-child{
        padding-right: 0;
    }
}

.site-copyright{
    font-size: $fz_small;
    color: $type_gray;
}
.copyright__copy,
.footerutilnav__container{
    display: inline-block;
    vertical-align: bottom;
}
.footerutilnav__container li + li{
    margin-left: 4px;
    padding-left: 8px;
    border-left: 1px solid currentColor;
}

.duvine__tagline{
    @include uppercase;
    font-size: 2.25em;
    padding-right: 40px;
    margin-top: -.25em;
}

.footermenu {
    padding-right: 40px;

    li{
        margin-top: 10px;
        font-size: $fz_small;
    }
}

.footercontact{
    margin-top: .25em;
    font-size: $fz_small;

    .contactnav__container + &{
        margin-top: 30px;
    }
}

.sk-social-media-menu {
    margin-top: 20px;
    margin-bottom: 33px;
    margin-left: -12px;

    a{
        display: block;
        padding: 12px;
        min-height: 44px;

        svg{
            display: block;
            height: 20px;
        }
    }
}


/* ------------------------------------------
 * --global press
 * ------------------------------------------ */

.footer__featuredpubs{
    margin-bottom: 40px;
}
.globalpress__label{
    color: $brand_gray;
}
