/* ==============================================================
 *
 * Global Header
 *
 * ============================================================== */

$headerPad: 20px;
$mobileHeaderPad: 10px;
$brandingWidth: 160px;
$navlinkMargin: 26px;

.globalheader{
    background-color: $black;
    padding: 40px $headerPad $headerPad $headerPad;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    z-index: 1000000;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;

    .logged-in.admin-bar &{
        top: 32px;

        @media screen and (max-width: 782px){
            top: 46px;
        }
    }

    @include lt-desktop{
        justify-content: space-between;
    }

    .menu > li.menu-cta{
        padding-bottom: 0;
        margin-top: -10px;

        a{
            @extend .cta;
            @extend .cta--outline;
        }
    }
    body.scrolling & {
      padding: $mobileHeaderPad $headerPad;
      /*.utilitynav {
        display: none;
      }*/
    }
    /*&:not(.scrolling) {
      .utilitynav {
        display: block;
      }
    }*/
}


.site-branding{
    width: $brandingWidth;
    flex: 0 0 auto;

    a{
        display: block;
        width: 100%;
    }
}

.menu li{
    display: inline-block;
    vertical-align: bottom;
}

.sub-menu li{
    display: block;
}

.headerspan{
    display: inline-block;
    vertical-align: middle;
    color: $white;
}


/* ------------------------------------------
 * --main nav
 * ------------------------------------------ */

/* Small menu */
.menu-toggle {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    position: relative;
    width: 44px;
    height: 44px;
    padding: 4px;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    -webkit-transition: background 0 0.3s;
    -moz-transition: background 0 0.3s;
    -ms-transition: background 0 0.3s;
    -o-transition: background 0 0.3s;
    transition: background 0 0.3s;

    &:focus{
        outline:none;
    }
    
    span{
        top: 50%;
        margin-top: -2px;

        &, &:before, &:after{
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            height: 4px;
            background-color: $white;
            border-radius: 1px;
        }

        &:before, &:after{
            content:"";
            transform-origin: 50% 50%;
            transition: all .4s;
        }

        &:before{
            top: -12px;
        }
        &:after{
            top:12px;
        }
    }

    @include lt-desktop{
        display: block;
    }

    &.toggle-switch__htx {
      background-color: transparent;
      span {
        /*-webkit-transition: background 0 0.3s;
        -moz-transition: background 0 0.3s;
        -ms-transition: background 0 0.3s;
        -o-transition: background 0 0.3s;
        transition: background 0 0.3s;*/
        &:before {
          -webkit-transition-duration:  0.3s, 0.3s;
          -moz-transition-duration:  0.3s, 0.3s;
          -o-transition-duration:  0.3s, 0.3s;
          transition-duration:  0.3s, 0.3s;

          -webkit-transition-delay:  0.3s, 0;
          -moz-transition-delay:  0.3s, 0;
          -o-transition-delay:  0.3s, 0;
          transition-delay:  0.3s, 0;

          -webkit-transition: top, -webkit-transform;
          -moz-transition: top, -moz-transform;
          -ms-transition: top, -ms-transform;
          -o-transition: top, -o-webkit-transform;
          transition: top, transform;

        }
        &:after {
          -webkit-transition-duration:  0.3s, 0.3s;
          -moz-transition-duration:  0.3s, 0.3s;
          -o-transition-duration:  0.3s, 0.3s;
          transition-duration:  0.3s, 0.3s;

          -webkit-transition-delay:  0.3s, 0;
          -moz-transition-delay:  0.3s, 0;
          -o-transition-delay:  0.3s, 0;
          transition-delay:  0.3s, 0;

          -webkit-transition: top, -webkit-transform;
          -moz-transition: top, -moz-transform;
          -ms-transition: top, -ms-transform;
          -o-transition: top, -o-webkit-transform;
          transition: top, transform;
        }
      }
      &.active {
        background-color: transparent;
        span {
          background: none;
          &:before {
            top: 3px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
          }
          &:after {
            top: 3px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
          }
        }
      }
    }
}

.mainnav{
    flex: 1 0 auto;

    @include lt-desktop{
        flex-grow: 0;
    }
}

.mainnav__container {
    margin-left: $navlinkMargin;

    @include lt-desktop{
        display: none;
    }

    a{
        color: $white;
    }

    .menu > .menu-item{
        padding: 20px $navlinkMargin 16px $navlinkMargin;
        margin-bottom: -20px;
        float: left;

        &:not(.menu-cta) > a{
            @include ux-underline( $brand_secondary );
            display: block;
        }

        &:not(:first-child) {
            position: relative;

            .sub-menu {
                padding-left: 46px!important;
                padding-right: 46px!important;
                width: fit-content;
                li {
                  a {
                    white-space: nowrap!important;
                  }
                }
            }
        }

        &:hover > a:after{
            opacity: 1;
            transform: translateX(0%);
        }

        @include gt-large-desktop{
            padding-left: 46px;
            padding-right: 46px;
        }        
    }

    .sub-menu{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $black;
        margin: 0;
        padding-left: #{ $headerPad + $brandingWidth + $navlinkMargin * 2 };
        padding-top: 10px;
        padding-bottom: 40px;
        transition: all .2s;

        .menu-item{
            padding-top: 6px;
            // white-space: nowrap;

            > a{
                @include ux-underline( $brand_secondary );
            }
        }
    }

    .tournav__dropdown{
        padding-left: 0;
        padding-top: 40px;
        left: 50px;
        right: 50px;

        + .sub-menu{
            display: none;
        }

        .tournav__column {
          &:nth-of-type(2){
            padding-right: 30px;
            ul {
              &.menu {
                padding-top: 18px;
                margin-top: 0;
                border-top: 1px solid $type_gray;
              }
            }
          }
        }
    }

    .menu-item-has-children:hover > .sub-menu,
    .menu-item-type-custom:hover > .tournav__dropdown{
        opacity: 1;
        visibility: visible;
    }

    .menu-item-has-children > a[href="#"],
    .menu-item-type-custom > a[title="browse-tours"]{
        cursor: default;
    }
}


.tournav__menu{
    margin: 0;

    .tourmenu__hoverable{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        margin-left: -20px;
    }
    .tourmenu__hoverable--active{
        background-color: $offblack;
    }

    .tourcollection__excerpt{
        display: block;
        font-size: $fz_verysmall;
    }

    &.collection__nav {
        display: inline-block;

        li {
            width: 50%;
            float: left;
        }
    }
}

.tourmenu__collection{
    display: block;
    margin-bottom: 24px;
    line-height: 1.25;

    &:hover .tourmenu__collectionhover:after{
        opacity: 1;
        transform: translateX(0%);
    }
}
.tourmenu__collectionhover{
    @include ux-underline( $brand_secondary );
}

.tournav__column{
    position: relative;
    flex-grow: 0;
    padding-right: 60px;
}
.tournav__colheader{
    color: $white;
    font-size: $fz_big;
    margin-bottom: 20px;
}


.tourmenu__continentlabel{
    color: $white;
    cursor: default;
}

.tourmenu__countries{
    position: absolute;
    top: 0;
    left: 40%;
    bottom: -40px;
    right: 20px;
    background-color: $offblack;
    padding: 20px 40px;
    display: none;

    .tourmenu__hoverable--active &{
        display: block;
    }

    li{
        padding-top: 0;
        margin-bottom: 8px;

        a{
            line-height: 1.4;
            @include ux-underline( $brand_secondary );
        }
    }
}


.tourmenu__continent--europe .tourmenu__countries{
    .tourmenu__europelist{
        float: left;
        width: 50%;
        padding-right: 25px;
    }

    .tourmenu__europelist--2ndcolumn{
        padding-left: 25px;
        padding-right: 0;
    }
}

.tourmenu__countrylandingpagecta{
    padding-top: 14px;
    margin-top: 10px;
    border-top: 1px solid $type_gray;
}
.tourmenu__countrylandingpage{
    @include ux-underline( $brand_secondary );
}


/* ------------------------------------------
 * --searchnav
 * ------------------------------------------ */

.searchnav{
    flex: 0 0 auto;

    @include lt-desktop{
        display: none;
    }
}
.triggersearch{
    margin-left: 20px;
    @include icon( $icon_magnifying_glass_white, 28px, 28px );
    transition: background-image .2s;
}
.triggersearch--activated{
    background-image: $icon_close_white;
    background-size: 24px;
}



/* ------------------------------------------
 * --utilitynav
 * ------------------------------------------ */

.utilitynav{
    position: absolute;
    top: 6px;
    right: 20px;
    .headerspan {
        font-size: 0.875em;
    }
    a{
        color: $white;
    }

    .menu-item{
        // float: left;

        &:not(:last-child) {
            margin-right: 43px;
            @include lt-smallmobile{
              margin-right: 7px;
            }
        }
    }

    .menu-item a{
        // @include uppercase;
        font-size: $fz_small;
    }

    .icon--find-a-tour a{
        display: block;
        @include icon-left( $icon_location, 12px, 20px );
        @include lt-smallmobile{
          padding-left: 0;
          &:after {
            background-image: none;
          }
        }
    }
}

.utilitynav__container{
    display: inline-block;
    vertical-align: middle;
    margin-left: 43px;
    @include lt-smallmobile{
      margin-left: 7px;
    }
}

.yellow__nav{
    background-color: $brand_secondary;
    height: 170px;
    width: 100%;
    position: relative;
    margin-bottom: -90px;
    z-index: -1;

    @include lt-mobile{
        display: none;
    }
}
