/* ==============================================================
 *
 * Tourfinder
 *
 * ============================================================== */



/* ------------------------------------------
 * --loop
 * ------------------------------------------ */

.block--tour_browser{
    @include loadable;
}




/* ------------------------------------------
 * --listing
 * ------------------------------------------ */


.tourlist + .tourlist{
    border-top: 1px solid $rule_gray;
}

.tourlist__listing{
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid $rule_gray;

    @include gt-tablet{
        display: flex;
        flex-wrap: wrap;
    }
    
    .tours--privateonly &.tourlist__listing--scheduled,
    .tours--scheduledonly &.tourlist__listing--private{
        display: none;
    }

    &:last-child{
        border-bottom: 0;
    }
}


.tourlisting__image{
    
    @include gt-tablet{
        width: 50%;
        flex: 0 0 50%;
        padding-right: 20px;
    }

    img{
        display: block;
        width: 100%;
    }
}

.tourlisting__data{
    position: relative;
    margin-top: 20px;

    @include gt-tablet{
        width: 50%;
        flex: 0 0 50%;
        padding-left: 20px;
        margin-top: 0;
    }
}


.tourlisting__location{
    display: block;
    color: $type_gray;
    margin-bottom: 40px;
    line-height: 1;

    @include lt-mobile{
        margin-bottom: 10px;
    }
}
.tourlisting__location--smallmargin{
    margin-bottom: 20px;
}


.tourlisting__placeholder{
    height: 0;
    padding-bottom: 57%;
    background-color: $brand_gray;
}
.tourlisting__description{
    margin-top: 18px;
}

.tourlisting__meta{
    margin-top: 50px;
    margin-bottom: 32px;
    color: $type-gray;

    @include lt-tablet{
        margin-top: 14px;
        margin-bottom: 20px;
    }
}

.tourlisting__filters{
    margin-bottom: 32px;
    color: $type-gray;
}


.tourlisting__datetrigger{
    @extend .capsheader;
    @include icon-right( $icon_chevron_down, 16px, 10px, 10px );
    @include active-flip;
    color: $type_gray;
    display: inline-block;
    margin-top: 10px;

    &:after{
        margin-top: -6px;
    }
}
.tourlisting__detaillink{
    float: right;
}



// count
.tourlist__count{
    font-size: $fz_small;
    color: $type_gray;
}

.tourlist__count--padtop{
    padding-top: 20px;
    padding-bottom: 20px;
}


.tourloop__footersection{
    margin-top: 60px;
    padding-top: 60px;
    border-top: $ruleheight solid $offwhite;
}




/* ------------------------------------------
 * --tours by country
 * ------------------------------------------ */

.tourlist__country{
    margin-bottom: 70px;
}
.tourlist__countryname{
    padding-bottom: 20px;
    border-bottom: $ruleheight solid $offwhite;
}

.tourloop__quickfilter{
    padding-bottom: 60px;
    max-width: 400px;

    .chosen-focus-input {
        display: none;
    }
}
.headerpromo__wrapper + .tourloop__quickfilter{
    padding-top: 40px;
}


/* ------------------------------------------
 * --tour dates drawer
 * ------------------------------------------ */

.tourlisting__datedrawer{
    width: 100%;
    display: none;
}

.datedrawer{
    width: 100%;
    flex: 0 0 100%;
    background-color: $black;
    margin-top: 40px;
    padding: 0 44px 40px;
    color: $white;

    .cta{
        @extend .cta--hoverwhite;
    }
}

.tourdates{
    border-bottom: 1px solid $darkgray;
}

.tourdates__noscheduled{
    padding-top: 30px;
    color: $white;
}

.tourdates__noscheduled--background{
    padding: 30px;
    background-color: $black;
    margin-top: 40px;
}

.tourdates__privatepromo{
    padding-top: 30px;
    margin-top: 0;
    
    P{
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }
}




/* ------------------------------------------
 * --tourloop (parent)
 * ------------------------------------------ */


.tourloop--padtop{
    padding-top: 80px;
}

.tourloop--location{
    padding-top: 60px;
    border-top: $ruleheight solid $offwhite;
}

.tourloop__header{

    @include gt-tablet{
        display: flex;
        padding-top: 40px;

        .privatefilter{
            flex: 1 1 auto;
        }
        .sortfilter{
            flex: 0 0 260px;
            margin-top: -30px;

            span {
                font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
                font-weight: 300;
                font-style: normal;
                color: #666;
                letter-spacing: 0.04em;
                font-size: 14px;
            }

            & > span {
                margin-bottom: 10px;
                display: inline-block;
                font-weight: 400;
            }

            .chosen-focus-input {
                display: none;
            }
        }
    }

    .privatefilter,
    .sortfilter{
        padding-bottom: 20px;
    }
}

.privatefilter__label{
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 0.04em;
    font-size: 14px;
    margin-right: 20px;

    @include lt-mobile{
        display: block;
        margin-bottom: 10px;
    }
}





/**
 * --private filter
 */

.tourtype__label{
    display: inline-block;
    margin-right: 10px;
    color: $type_gray;
    font-size: $fz_small;

    @include lt-mobile{
        display: block;
        margin-bottom: 10px;
    }
}



/**
 * --no tours
 */
.notours{
    padding-top: 40px;
}


