/* ==============================================================
 *
 * WYSIWYG styles
 *
 * ============================================================== */


.teal_table { 
    border-collapse: collapse;
    text-align: center;
    color: #fff;
}

.teal_table th {
    background-color: #007290;
    border-bottom: $ruleheight solid #DBE035;
    text-transform: uppercase;
}

.teal_table th, td {
    padding: 10px;
    border-right: 1px solid #fff;
    vertical-align: top;
}

.teal_table td:nth-child(1) {
    text-align: left;
    color: black;
    background-color: #fff;
}

.teal_table tr:nth-child(odd) {
background: #1E9EAC;
}

.teal_table tr:nth-child(even) {
background: #72B9C3;
}

.teal_table tr:nth-child(2n) > td:nth-child(1) {
    background-color: #F6F6F6;
}
