/* ==============================================================
 *
 * Person page
 *
 * ============================================================== */


.person {

    &__role {
        display: block;
        @include type-bold;
        @include uppercase;
        font-size: $fz_small;
        margin-bottom: 8px;
    }

    &__info {
        border-top: $ruleheight solid $offwhite;
        border-bottom: $ruleheight solid $offwhite;
        padding-top: 40px;
        margin: 60px 0;
    }

    &__columns{
        @include gt-mobile{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin-left: $gutter_offset;
            margin-right: $gutter_offset;
        }
    }

    .info__entry {
        width: 100%;
        padding-bottom: 40px;
    
        @include gt-mobile{
            width: 50%;
            flex: 0 0 50%;
            padding-left: $gutter_half;
            padding-right: $gutter_half;
        }
        @include gt-tablet{
            width: 25%;
            flex: 0 0 25%;
        }

        p{
            margin-top: 10px;
        }
    }


    &__content{
        margin-bottom: 40px;
    }
}

.person__header {
    @include gt-tablet{
        display: flex;
    }
}

.person__headshot {
    
    @include gt-tablet{
        width: 50%;
        flex: 1 0 auto;
        padding-right: $gutter_half;
    }

    @include lt-mobile{
        margin-left: -20px;
        margin-right: -20px;
    }
}
.person__intro{
    margin-top: 40px;

    @include gt-tablet{
        flex: 0 0 50%;
        margin-top: 0;
        padding-left: $gutter_half;
    }
}

.person__relatedtours{
    padding-bottom: 40px;
}

.person__relatedtours ul{
    
    @include gt-mobile{
        display: flex;
        flex-wrap: wrap;
    }
}

.person__relatedtours li{
    margin-top: 1em;

    @include gt-mobile{
        width: 50%;
        flex: 0 0 50%;
        padding-right: 20px;
    }
}


.person__metacontainer{
    margin-top: 40px;
}


.person__jobtitle{
    @extend .capsheader;
    color: $type_gray;
    margin-top: 10px;
}