/* ==============================================================
 *
 * Bold Statement block
 *
 * ============================================================== */

.boldstatement{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 75px;
}
.boldstatement__statement{
    font-size: $fz_blockheader;
    line-height: 1.4;
    margin-bottom: 40px;

    @include lt-tablet{
        font-size: 1.4em;
    }

    + .boldstatement__award{
        margin-top: -20px;
    }
}

.boldstatement__award{
    margin-bottom: 40px;

    > *{
        display: inline-block;
        vertical-align: middle;
    }
}
.boldstatement__awardtext{
    max-width: 490px;
    color: $brand_gray;

    p + p{
        margin-top: .5em;
    }
}
.boldstatement__awardimage{
    //max-width: 220px;
    margin: 20px;
}