/* ==============================================================
 *
 * Featured blog posts block
 *
 * ============================================================== */


.block--featured_blog_posts{
    @include blockpad;
}
.featuredblogs{
    @extend .l-cf;
    background-color: $black;
    position: relative;

    .sk-slider-nav{
        position: absolute;
        z-index: 3;
        bottom: 36px;
        left: 36px;
        opacity: 1;
        transition: opacity .4s;

        polyline{
            stroke: $white;
        }
    }
    .nav-next{
        left: 78px;
    }

    .slick-disabled{
        opacity: .4;
    }
}

.featuredblog__slide{
    position: relative;
    float: left;
    display: none;

    &.slick-slide{
        display: block;
    }

    @include lt-desktop {
      height: auto!important;
    }
}
.featuredblog__content{    
    padding: 60px 40px 120px;

    @include gt-desktop{
        width: 35%;
    }
}
.featuredblog__image{
    img{
        width: 100%;
        display: block;
    }

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    height: 0;
    padding-bottom: 40%;

    @include gt-desktop{
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        height: 100%;
    }
}


.featuredblog__header{
    margin-bottom: 20px;
}
.featuredblog__summary{
    color: $white;
    margin-bottom: 40px;
}

.block--custom_slider {
  .featuredblog__video {
    width: 100%;
    position: relative;
    padding-bottom: 55%;
    @include gt-desktop {
      position: absolute;
      top: 0;
      right: 0;
      width: 65%;
      height: 100%;
      padding-bottom: 0;
      overflow: hidden;
    }
    video {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      
      /* this following is for backbround video
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 1;
      overflow: hidden;*/
      @include lt-desktop {
        width: 100%;
      }
    }
    + .featuredblog__content {
      padding: 60px 40px 120px;
      @include gt-desktop {
        padding: 60px 120px 120px 40px;
      }
    }
  }
}
