/* ==============================================================
 *
 * Tour finder banner (homepage block)
 *
 * ============================================================== */

.tourfinderbanner{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: $black;
    border-top: $ruleheight solid $brand_secondary;
    padding: 58px 20px;
    position: relative;
    margin-bottom: 40px;
    z-index: 10;

    @include gt-tablet{
        transform: translateY(-50%);
        margin-bottom: 0;
    }
}

.tourfinderbanner__col{
    flex: 1 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lt-desktop{
        padding-top: 20px;
    }
}
.tourfinderbanner__col--header{
    flex-grow: 0;
    @include lt-desktop{
        flex: 1 0 100%;
        padding-top: 0;
    }
}
.tourfinderbanner__col--action{
    flex-grow: 0;
}

.tourfinderbanner__select{
    font-size: $fz_emphasis;
    color: $white;
    display: block;
    padding: 8px;
    border-bottom: 2px solid $white;
    cursor: pointer;
    @include icon-right( $icon_chevron_down__white, 20px, 12px, 10px, 8px );
}
.tourfinderbanner__select--active{
    border-bottom-color: $brand_secondary;
}

.tourfinderbanner__dropdown{
    position: absolute;
    left: 0;
    right: 0;
    top: 99%;
    background-color: $black;
    padding: 20px 20px 40px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    @include gt-tablet{
        transform: translate3d(0, -20px, 0);
    }

    @include lt-tablet{
        position: fixed;
        z-index: 20;
        top: 0;
        bottom: 0;
        padding: 40px;
        overflow: auto;
    }

    @include lt-mobile{
        padding: 40px 20px;
    }
}
.tourfinderbanner__dropdown--active{
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
}
.tourfinderbanner__container{
    width: 100%;
    max-width: $width_limiter;
    margin: 0 auto;
}
.tourfinderbanner__container--datepicker{
    max-width: 602px;
}

.tourfinderbanner__disclaimer{
    font-size: $fz_small;
    color: $type_gray;
    margin-bottom: 30px;
}
.tourfinderbanner__disclaimer--nomargin{
    margin-bottom: 0;
}
.tourfinderbanner__colheader{
    color: $white;
    @include uppercase;
}
.tourfinderbanner__option{
    font-size: $fz_small;
    margin-top: 1em;
}
.tourfinderbanner__label{
    color: $white;
}

.tourfinderbanner__dropdownclose{
    position: absolute;
    top: 10px;
    right: 10px;
    @include icon( $icon_close_white, 44px, 44px );
    background-size: 50%;

    @include gt-tablet{
        right: 29px;
    }
}


.tourfinderbanner__dropdownsubmit{
    margin-top: 40px;

    @include gt-tablet{
        display: none;
    }
}


/* ------------------------------------------
 * --location selector
 * ------------------------------------------ */

.locationselector{
    @include gt-mobile{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.locationselector__continent{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid $darkgray;
    margin-bottom: 40px;
    
    @include gt-mobile{
        flex: 0 0 50%;
    }
    @include gt-tablet{
        flex: 0 0 25%;
        margin-bottom: 0;
    }

    @include lt-mobile{
        &:last-child{
            margin-bottom: 0;
        }
    }
}


/* ------------------------------------------
 * --level selector
 * ------------------------------------------ */

.tourfinderbanner__disclaimer--levelselector{
    @include gt-tablet{
        max-width: 602px;
        margin-left: auto;
        margin-right: auto;
    }
}

.levelselector{
    padding-left: 20px;
    border-left: 1px solid $darkgray;

    @include gt-tablet{
        padding-right: 20px;
        border-right: 1px solid $darkgray;
        // width: 50%;
        max-width: 602px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ------------------------------------------
 * --date selector
 * ------------------------------------------ */

.tourfinderbanner__datepicker{
    margin-left: -40px;
    margin-right: -40px;

    @include lt-mobile{
        margin-left: 0;
        margin-right: 0;
    }
}